/*  body */
	
body {
	color: rgb(255, 255, 204);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*background-color: #666;*/
    background-color: rgb(218,165,32);
}

#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	margin-bottom: 20px;
	}

.listmargin  {
	margin-bottom: 20px;
}	

.img-style-1 {
	float: left;
	margin-right: 10px;
    margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #CCC;
}	
	
/* tutorial styles */

/* tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
